{% include('header.html') %}
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid hash-content">
          <h1>Hashtag Investment Portfolio</h1>
          <div class="hash-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            Section 1
          </div>
        </div>
        <div class="hash-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
          Section 2
        </div>
      </main>
	{% include('footer.html') %}
